.header {
  align-items: center;
  background-color: #2a2a2a;
  color: #fff;
  display: flex;
  flex-direction: row;
  height: 4rem;
}

.headerTitle {
  font-size: 1.2rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}